<div id="dbusData">
    <p>Tekst</p>
</div>

@section Scripts {
    <script type="text/javascript">
        function getNewData() {

            $.ajax({
                url: "/Home/DbusAjax",
                type: "GET",
                success: function (data) {
                    $("#dbusData").append("<p>" + data + "</p>");
                },
                error: function () {
                }
            });
        }

$(function(){
   getNewData();
});
    </script>
}